<%= simple_form_for [@plan, @sector] do |f| %>
  <%= f.input :title %>

  <div class="actions">
    <%= f.submit 'Сохранить', :class => 'button' %>
    <%= link_to "Отмена", :back, :class => 'button' %>
  </div>
<% end %>
