<div class="list">
  <table>
    <thead>
      <tr>
        <th>Код направления</th>
        <th>Название направления</th>
        <th>Отрасль</th>
        <th>Код квалификации</th>
        <th>Квалификация</th>
        <th>Срок обучения</th>
        <th>Вступительные испытания</th>
        <th>Форма обучения</th>
        <th>Кол-во бюджетных мест</th>
        <th>Стоимость обучения</th>
        <th>Профилирующая кафедра</th>
        <th>Название профиля</th>
        <th>Конкурс прошлого года</th>
        <th>Проходной балл прошлого года</th>
      </tr>
    </thead>
    <tbody>
      <%= render @streams %>
    </tbody>
  </table>
</div>
