<%= simple_form_for [@plan, @entrance_exam] do |f| %>
  <%= f.input :title, :wrapper_html => { :class => 'normal_width' } %>

  <div class="actions">
    <%= f.submit 'Сохранить', :class => 'button' %>
    <%= link_to "Отмена", :back, :class => 'button' %>
  </div>
<% end %>
