@import 'compass/reset'
@import 'compass/utilities'
@import 'compass/css3'

html, body
  font-size: 1em
  line-height: 1.62em

h1
  font-size: 22px

h2
  font-size: 20px

h3
  font-size: 18px

h4
  font-size: 16px

.body_wrapper
  width: 100%

.list
  ul
    li
      margin: 1em

  .degrees
    background: #EFEFEF
    padding: 3px

