<%= simple_form_for @plan do |f| %>
  <%= f.input :year, :wrapper_html => { :class => 'min_width' } %>

  <div class="actions">
    <%= f.submit 'Сохранить', :class => 'button' %>
    <%= link_to "Отмена", :back, :class => 'button' %>
  </div>
<% end %>
